tga2cry.exe
tgainfo.exe
*.o
*.obj
*~
.*.swp
vs2019/x64
vs2019/docry/x64
vs2019/docry/*.user
vs2019/rgb2cry/x64
vs2019/rgb2cry/*.user
vs2019/tga2cry/x64
vs2019/tga2cry/*.user
vs2019/tgainfo/x64
vs2019/tgainfo/*.user
vs2019/*/cry.bin
vs2019/vs2019.sln
.vs
Samples/
